<h2>My Classes</h2>

<ul id="port" class="sectionA" *ngFor="let c of courses">
  <li>
    <button type="button" (click)="onSelect(c)">
      {{ c.code }}
    </button>
  </li>
  <ul *ngIf="c" class="sectionB">
    <li>Course title: {{ c.title }}</li>
    <li>Day of week: {{ c.day }}</li>
    <li>Professor name: {{ c.prof }}</li>
  </ul>
</ul>

<table id="land">
  <tr>
      <td>Course Code</td>
      <td>Course Title</td>
      <td>Day of week</td>
      <td>Professor Name</td>
  </tr>
  <tr class="sectionA" *ngFor="let c of courses">
    <td>
      <button type="button" (click)="onSelect(c)">
        {{ c.code }}
      </button>
    </td>
    <td  *ngIf="selectedCourse" class="sectionB">{{ c.title }}</td>
    <td  *ngIf="selectedCourse"  class="sectionB">{{c.day }}</td>
    <td  *ngIf="selectedCourse"  class="sectionB">{{c.prof }}</td>
  </tr>
</table>
